<% provide(:title, 'Test' ) %>
<br><br>
<h2>Test complete!</h2>

<p id="testResult">
  Error: no result!
</p>



<br><br>

<%= form_for(@computer) do |f| %>
  <%= render 'computers/errors' %>

  <p>
    <%= f.label :userName, "Your name (required)" %><br>
    <%= f.text_field :userName %>
  </p>
  <p>
    <%= f.label :description, "Machine description (126 characters max)"%><br>
    <%= f.text_area :description %>
  </p>
  
  <%= f.hidden_field :category %>
  <%= f.hidden_field :browser %>
  <%= f.hidden_field :time %>
  <%= f.hidden_field :userAgentString %>                          

  <p>
    <%= f.submit "Submit" %>
  </p>

<% end %>

<%= javascript_pack_tag 'speedtest' %>
<%= javascript_pack_tag 'deviceDetect' %>

